<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>WebSocket!</h1>
    <label for="message">Message: </label><input id="message" type="text" />
    <button id="submit">Login</button>
</body>
<script>
    let ws = null;
    let ready = false;
    document.getElementById("submit").addEventListener("click", function() {
        if(ws === null) {
            ws = new WebSocket("ws://localhost:4567/websocket/match");

            ws.onopen = function(event) {
                console.log(event);
                sendMessage("username", document.getElementById("message").value);
            }

            ws.onclose = function(event) {
                console.log(event);
            }

            ws.onmessage = function(event) {
                console.log(event);
            }
        } else {
            if(ready) {
                sendMessage("command", document.getElementById("message").value);
            } else {
                ready = true;
                sendMessage("ready", "");
            }
        }

    });

    function sendMessage(type, message) {
        const messageJson = {
            "type": type,
            "message": message
        }
        ws.send(JSON.stringify(messageJson));
    }

</script>
</html>