<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>WebSocket!</h1>
    <label for="content">Message: </label><input id="content" type="text" />
    <button id="submit">Login</button>
    <button id="download">Download Map</button>
</body>
<script>
    let ws = null;
    let ready = false;
    document.getElementById("submit").addEventListener("click", function() {
        if(ws === null) {
            ws = new WebSocket("ws://localhost:4567/websocket/match");

            ws.onopen = function(event) {
                console.log(event);
                sendMessage("username", getInputContent());
            }

            ws.onclose = function(event) {
                console.log(event);
            }

            ws.onmessage = function(event) {
                console.log(event);
                let response = JSON.parse(event.data);
                console.log(response);
                if(response.type === "map") {
                    downloadObjectAsJson(JSON.parse(response.content));
                }
            }
        } else {
            if(ready) {
                sendMessage("command", getInputContent());
            } else {
                ready = true;
                sendMessage("ready", "");
            }
        }
    });

    document.getElementById("download").addEventListener("click", function() {
        sendMessage("map", getInputContent());
    });

    function getInputContent() {
        return document.getElementById("content").value;
    }

    function sendMessage(type, content) {
        const messageJson = {
            "type": type,
            "content": content
        }
        ws.send(JSON.stringify(messageJson));
    }

    function downloadObjectAsJson(exportObj, exportName){
        let dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
        let downloadAnchorNode = document.createElement('a');
        downloadAnchorNode.setAttribute("href",     dataStr);
        downloadAnchorNode.setAttribute("download", exportName + ".json");
        document.body.appendChild(downloadAnchorNode); // required for firefox
        downloadAnchorNode.click();
        downloadAnchorNode.remove();
    }

</script>
</html>